body {
  background-color: rgb(10, 117, 121);
}

input {
  text-align: center;
  height: 40px;
  font-size: 30px;
  font-weight: 400;
  padding-left: 100px;
  margin-left: 500px;
}

h2 {
  font-size: 100px;
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 40px;
  color: beige
}

button {
  min-height: 10px;
  margin-left: 15px;
  background-color: yellow;

}

.new {
  font-size: 10px;
  margin-right: 0px;
  background-color: rgb(211, 128, 19);
}